<html>
<head>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>ZAP Scanning Report</title>
</head>
<body text="#000000">
<p>
<strong>ZAP Scanning Report</strong>
</p>
<p>

</p>
<p>
<strong>Summary of Alerts</strong>
</p>
<table width="45%" border="0">
<tr bgcolor="#666666">
<td width="45%" height="24"><strong><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Risk 
      Level</font></strong></td><td width="55%" align="center"><strong><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">Number 
      of Alerts</font></strong></td>
</tr>
<tr bgcolor="#e8e8e8">
<td><font size="2" face="Arial, Helvetica, sans-serif"><a href="#high">High</a></font></td><td align="center"><font size="2" face="Arial, Helvetica, sans-serif">0</font></td>
</tr>
<tr bgcolor="#e8e8e8">
<td><font size="2" face="Arial, Helvetica, sans-serif"><a href="#medium">Medium</a></font></td><td align="center"><font size="2" face="Arial, Helvetica, sans-serif">1</font></td>
</tr>
<tr bgcolor="#e8e8e8">
<td><font size="2" face="Arial, Helvetica, sans-serif"><a href="#low">Low</a></font></td><td align="center"><font size="2" face="Arial, Helvetica, sans-serif">3</font></td>
</tr>
<tr bgcolor="#e8e8e8">
<td><font size="2" face="Arial, Helvetica, sans-serif"><a href="#info">Informational</a></font></td><td align="center"><font size="2" face="Arial, Helvetica, sans-serif">0</font></td>
</tr>
</table>
<p></p>
<p></p>
<p>
<strong>Alert Detail</strong>
</p>
<p></p>
<table width="100%" border="0">
  
  
  
<tr bgcolor="orange" height="24">
<td width="20%" valign="top"><strong><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><a name="medium"></a>Medium (Medium)</font></strong></td><td width="80%"><strong><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">X-Frame-Options Header Not Set</font></strong></td>
</tr>
  
  
  
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>Description</p>
</font></td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif"><p>X-Frame-Options header is not included in the HTTP response to protect against 'ClickJacking' attacks.</p></font></td>
</tr>
<TR vAlign="top">
<TD colspan="2"></TD>
</TR>
  
  
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%">
<blockquote>
<font size="2" face="Arial, Helvetica, sans-serif">
<p>URL</p>
</font>
</blockquote>
</td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>https://danibudi.github.io/Cross-Site%20Scripting%20(XSS).html</p>
</font></td>
</tr>
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%">
<blockquote>
<font size="2" face="Arial, Helvetica, sans-serif">
<p>&nbsp;&nbsp;&nbsp;&nbsp;Method</p>
</font>
</blockquote>
</td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>GET</p>
</font></td>
</tr>
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%">
<blockquote>
<font size="2" face="Arial, Helvetica, sans-serif">
<p>&nbsp;&nbsp;&nbsp;&nbsp;Parameter</p>
</font>
</blockquote>
</td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>X-Frame-Options</p>
</font></td>
</tr>
  
  
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>Instances</p>
</font></td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>1</p>
</font></td>
</tr>
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>Solution</p>
</font></td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif"><p>Most modern Web browsers support the X-Frame-Options HTTP header. Ensure it's set on all web pages returned by your site (if you expect the page to be framed only by pages on your server (e.g. it's part of a FRAMESET) then you'll want to use SAMEORIGIN, otherwise if you never expect the page to be framed, you should use DENY. ALLOW-FROM allows specific websites to frame the web page in supported web browsers).</p></font></td>
</tr>
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>Reference</p>
</font></td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif"><p>http://blogs.msdn.com/b/ieinternals/archive/2010/03/30/combating-clickjacking-with-x-frame-options.aspx</p></font></td>
</tr>
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>CWE Id</p>
</font></td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>16</p>
</font></td>
</tr>
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>WASC Id</p>
</font></td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>15</p>
</font></td>
</tr>
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>Source ID</p>
</font></td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>3</p>
</font></td>
</tr>

</table>
<p></p>
<table width="100%" border="0">
  
  
  
<tr bgcolor="yellow" height="24">
<a name="low"></a><td width="20%" valign="top"><strong><font color="#000000" size="2" face="Arial, Helvetica, sans-serif">Low (Medium)</font></strong></td><td width="80%"><strong><font color="#000000" size="2" face="Arial, Helvetica, sans-serif">Incomplete or No Cache-control and Pragma HTTP Header Set</font></strong></td>
</tr>
  
  
  
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>Description</p>
</font></td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif"><p>The cache-control and pragma HTTP header have not been set properly or are missing allowing the browser and proxies to cache content.</p></font></td>
</tr>
<TR vAlign="top">
<TD colspan="2"></TD>
</TR>
  
  
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%">
<blockquote>
<font size="2" face="Arial, Helvetica, sans-serif">
<p>URL</p>
</font>
</blockquote>
</td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>https://danibudi.github.io/Cross-Site%20Scripting%20(XSS).html</p>
</font></td>
</tr>
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%">
<blockquote>
<font size="2" face="Arial, Helvetica, sans-serif">
<p>&nbsp;&nbsp;&nbsp;&nbsp;Method</p>
</font>
</blockquote>
</td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>GET</p>
</font></td>
</tr>
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%">
<blockquote>
<font size="2" face="Arial, Helvetica, sans-serif">
<p>&nbsp;&nbsp;&nbsp;&nbsp;Parameter</p>
</font>
</blockquote>
</td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>Cache-Control</p>
</font></td>
</tr>
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%">
<blockquote>
<font size="2" face="Arial, Helvetica, sans-serif">
<p>&nbsp;&nbsp;&nbsp;&nbsp;Evidence</p>
</font>
</blockquote>
</td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>max-age=600</p>
</font></td>
</tr>
  
  
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>Instances</p>
</font></td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>1</p>
</font></td>
</tr>
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>Solution</p>
</font></td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif"><p>Whenever possible ensure the cache-control HTTP header is set with no-cache, no-store, must-revalidate; and that the pragma HTTP header is set with no-cache.</p></font></td>
</tr>
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>Reference</p>
</font></td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif"><p>https://www.owasp.org/index.php/Session_Management_Cheat_Sheet#Web_Content_Caching</p></font></td>
</tr>
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>CWE Id</p>
</font></td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>525</p>
</font></td>
</tr>
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>WASC Id</p>
</font></td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>13</p>
</font></td>
</tr>
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>Source ID</p>
</font></td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>3</p>
</font></td>
</tr>

</table>
<p></p>
<table width="100%" border="0">
  
  
  
<tr bgcolor="yellow" height="24">
<a name="low"></a><td width="20%" valign="top"><strong><font color="#000000" size="2" face="Arial, Helvetica, sans-serif">Low (Medium)</font></strong></td><td width="80%"><strong><font color="#000000" size="2" face="Arial, Helvetica, sans-serif">X-Content-Type-Options Header Missing</font></strong></td>
</tr>
  
  
  
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>Description</p>
</font></td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif"><p>The Anti-MIME-Sniffing header X-Content-Type-Options was not set to 'nosniff'. This allows older versions of Internet Explorer and Chrome to perform MIME-sniffing on the response body, potentially causing the response body to be interpreted and displayed as a content type other than the declared content type. Current (early 2014) and legacy versions of Firefox will use the declared content type (if one is set), rather than performing MIME-sniffing.</p></font></td>
</tr>
<TR vAlign="top">
<TD colspan="2"></TD>
</TR>
  
  
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%">
<blockquote>
<font size="2" face="Arial, Helvetica, sans-serif">
<p>URL</p>
</font>
</blockquote>
</td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>https://danibudi.github.io/Cross-Site%20Scripting%20(XSS).html</p>
</font></td>
</tr>
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%">
<blockquote>
<font size="2" face="Arial, Helvetica, sans-serif">
<p>&nbsp;&nbsp;&nbsp;&nbsp;Method</p>
</font>
</blockquote>
</td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>GET</p>
</font></td>
</tr>
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%">
<blockquote>
<font size="2" face="Arial, Helvetica, sans-serif">
<p>&nbsp;&nbsp;&nbsp;&nbsp;Parameter</p>
</font>
</blockquote>
</td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>X-Content-Type-Options</p>
</font></td>
</tr>
  
  
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>Instances</p>
</font></td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>1</p>
</font></td>
</tr>
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>Solution</p>
</font></td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif"><p>Ensure that the application/web server sets the Content-Type header appropriately, and that it sets the X-Content-Type-Options header to 'nosniff' for all web pages.</p><p>If possible, ensure that the end user uses a standards-compliant and modern web browser that does not perform MIME-sniffing at all, or that can be directed by the web application/web server to not perform MIME-sniffing.</p></font></td>
</tr>
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>Other information</p>
</font></td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif">
<p><p>This issue still applies to error type pages (401, 403, 500, etc) as those pages are often still affected by injection issues, in which case there is still concern for browsers sniffing pages away from their actual content type.</p><p>At "High" threshold this scanner will not alert on client or server error responses.</p></p>
</font></td>
</tr>
<TR vAlign="top">
<TD colspan="2"></TD>
</TR>
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>Reference</p>
</font></td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif"><p>http://msdn.microsoft.com/en-us/library/ie/gg622941%28v=vs.85%29.aspx</p><p>https://www.owasp.org/index.php/List_of_useful_HTTP_headers</p></font></td>
</tr>
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>CWE Id</p>
</font></td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>16</p>
</font></td>
</tr>
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>WASC Id</p>
</font></td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>15</p>
</font></td>
</tr>
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>Source ID</p>
</font></td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>3</p>
</font></td>
</tr>

</table>
<p></p>
<table width="100%" border="0">
  
  
  
<tr bgcolor="yellow" height="24">
<a name="low"></a><td width="20%" valign="top"><strong><font color="#000000" size="2" face="Arial, Helvetica, sans-serif">Low (Medium)</font></strong></td><td width="80%"><strong><font color="#000000" size="2" face="Arial, Helvetica, sans-serif">Web Browser XSS Protection Not Enabled</font></strong></td>
</tr>
  
  
  
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>Description</p>
</font></td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif"><p>Web Browser XSS Protection is not enabled, or is disabled by the configuration of the 'X-XSS-Protection' HTTP response header on the web server</p></font></td>
</tr>
<TR vAlign="top">
<TD colspan="2"></TD>
</TR>
  
  
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%">
<blockquote>
<font size="2" face="Arial, Helvetica, sans-serif">
<p>URL</p>
</font>
</blockquote>
</td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>https://danibudi.github.io/Cross-Site%20Scripting%20(XSS).html</p>
</font></td>
</tr>
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%">
<blockquote>
<font size="2" face="Arial, Helvetica, sans-serif">
<p>&nbsp;&nbsp;&nbsp;&nbsp;Method</p>
</font>
</blockquote>
</td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>GET</p>
</font></td>
</tr>
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%">
<blockquote>
<font size="2" face="Arial, Helvetica, sans-serif">
<p>&nbsp;&nbsp;&nbsp;&nbsp;Parameter</p>
</font>
</blockquote>
</td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>X-XSS-Protection</p>
</font></td>
</tr>
  
  
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>Instances</p>
</font></td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>1</p>
</font></td>
</tr>
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>Solution</p>
</font></td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif"><p>Ensure that the web browser's XSS filter is enabled, by setting the X-XSS-Protection HTTP response header to '1'.</p></font></td>
</tr>
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>Other information</p>
</font></td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif">
<p><p>The X-XSS-Protection HTTP response header allows the web server to enable or disable the web browser's XSS protection mechanism. The following values would attempt to enable it: </p><p>X-XSS-Protection: 1; mode=block</p><p>X-XSS-Protection: 1; report=http://www.example.com/xss</p><p>The following values would disable it:</p><p>X-XSS-Protection: 0</p><p>The X-XSS-Protection HTTP response header is currently supported on Internet Explorer, Chrome and Safari (WebKit).</p><p>Note that this alert is only raised if the response body could potentially contain an XSS payload (with a text-based content type, with a non-zero length).</p></p>
</font></td>
</tr>
<TR vAlign="top">
<TD colspan="2"></TD>
</TR>
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>Reference</p>
</font></td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif"><p>https://www.owasp.org/index.php/XSS_(Cross_Site_Scripting)_Prevention_Cheat_Sheet</p><p>https://blog.veracode.com/2014/03/guidelines-for-setting-security-headers/</p></font></td>
</tr>
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>CWE Id</p>
</font></td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>933</p>
</font></td>
</tr>
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>WASC Id</p>
</font></td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>14</p>
</font></td>
</tr>
  
<tr bgcolor="#e8e8e8" valign="top">
<td width="20%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>Source ID</p>
</font></td><td width="80%"><font size="2" face="Arial, Helvetica, sans-serif">
<p>3</p>
</font></td>
</tr>

</table>
</body>
</html>
